.Account-nav {
  background-color: #ef476f;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.AccountLogin {
  font-family: "Redressed", cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 250%;
  transition: transform 0.7s ease-in-out;
}
.AccountLogin:hover {
  transform: rotate(720deg);
}

#AccountLogin {
  text-decoration: none;
}

.Account-Create {
  background-image: url("https://i.imgur.com/OrDwDyM.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.Account-div {
  background: #073b4c;
  width: max-content;
  opacity: 0.9;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.image-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.Form-div {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 2%;
}

.Account-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}

.Account-label {
  background: #c4c4c4;
  font-family: "Redressed", cursive;
  padding: 2px;
  font-size: 250%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.Account-input {
  height: 45px;
  padding: 2px;
  text-size-adjust: 45px;
}
.Account-input[type="text"] {
  font-size: 30px;
}

.Form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.button-form {
  background: #c4c4c4;
  border: none;
  width: 25%;
  font-size: 250%;
  font-family: "Redressed", cursive;
}

@media screen and (max-width: 1024px) {
  .Account-div {
    width: 100%;
  }
  .image-div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .AccountImage1 {
    width: 50%;
    margin-right: 30%;
  }
  .AccountImage2 {
    width: 50%;
    margin-left: 30%;
  }
  .Form-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .Account-label {
    font-size: 60px;
    width: 40%;
    margin-left: 0;
    margin-right: 5%;
  }
  .Account-input {
    width: 80%;
    height: 92%;
    font-size: 60px;
  }
  .button-form {
    font-size: 60px;
  }
}
