.Login-nav {
  background-color: #ef476f;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.CreateAccount {
  font-family: "Redressed", cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 250%;
  transition: transform 0.7s ease-in-out;
}
.CreateAccount:hover {
  transform: rotate(720deg);
}
#CreateAccount {
  text-decoration: none;
}

.Account-Login {
  background-image: url("https://i.imgur.com/OrDwDyM.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.Login-div {
  background: #073b4c;
  width: max-content;
  opacity: 0.9;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 15%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.image-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.Login-Form-div {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 2%;
}

.Login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
}

.Login-label {
  background: #c4c4c4;
  font-family: "Redressed", cursive;
  padding: 2px;
  font-size: 250%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.Login-input {
  height: 45px;
  padding: 2px;
  text-size-adjust: 45px;
}
.Login-input[type="text"] {
  font-size: 30px;
}

.Login-Form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.Login-button-form {
  background: #c4c4c4;
  border: none;
  width: 25%;
  font-size: 250%;
  font-family: "Redressed", cursive;
}

@media screen and (max-width: 1024px) {
  .Login-div {
    width: 100%;
    height: 800px;
  }
  .Login-Image {
    width: 60%;
  }
  .Login-div {
    width: 100%;
  }
  .Login-Form-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .Login-label {
    width: 70%;
    margin-left: 0;
    margin-right: 5%;
    font-size: 70px;
  }
  .Login-input {
    width: 150%;
    height: 80px;
    font-size: 60px;
  }
  .Login-button-form {
    font-size: 70px;
  }
}
