.NavBar {
  background: #073b4c;
  display: flex;
  flex-direction: column;
}

.Nav-Image {
  display: flex;
  justify-content: center;
}

.Nav-Div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Nav-h1 {
  font-size: 40px;
  transition: all 0.2s ease-out;
}
.Nav-h1:hover {
  transform: scale(1.2);
}

#RiddleLink {
  text-decoration: none;
  color: white;
  font-family: "Redressed", cursive;
}
#CreateLink {
  text-decoration: none;
  color: white;
  font-family: "Redressed", cursive;
}
#ProfileLink {
  text-decoration: none;
  color: white;
  font-family: "Redressed", cursive;
}
.NavButton {
  color: white;
  font-family: "Redressed", cursive;
  font-size: 40px;
  transition: all 0.2s ease-out;
}

.NavButton:hover {
  transform: scale(1.2);
}
